{% extends "base.html" %}


{%block head_title%} Welcome || {{block.super}} {%endblock head_title%} </title>


{% block content %}

<h1>Hello World!</h1>
<p>This is {% verbatim  %}{{html_var}} {% endverbatim %}{{num}} coming thorugh!</p>


<h3>{{ block.super }} </h3>


{% if bool_item %}
Random number is {{ num }}
{% endif %}


<p>
{% for some_item in some_list %}	


<li>{{ some_item }} 
{% if some_item|divisibleby:"2" %}
	 (Even Number)
{% endif %}
</li>

{% endfor %}
</p>

{% endblock content %}